.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-space-between {
  justify-content: space-between;
}

.flex-1 {
  flex: 1;
}

.text-center {
  text-align: center;
}

.p-2 {
  padding: 2rem;
}
